* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #D97D58;
    display: flex;
    justify-content: center;
}

.container {
    width: 400px;
    max-width: 90%;
    margin-top: 40px;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
}

h1 {
    font-size: 2em;
    margin-bottom: 40px;
}

label {
    font-size: 18px;
}

input {
    margin: 20px 0;
    padding: 10px;
    font-size: 16px;
    border-radius: 7px;
    width: 100%;
    border: 1px solid black;
    outline: none;
}

#btn {
    padding: 8px 15px;
    font-size: 18px;
    border-radius: 7px;
    background-color: #87A987;
    cursor: pointer;
}

.result {
    margin-top: 20px;
    font-size: 18px;
    min-height: 30px;
}